* {
  margin: 0px;
  padding: 0px;
  color: yellow;
}
h1{
  float: center;
}
body {
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1300px/* Van links naar rechts*/ 600px /*van boven naar beneden */;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
ul {
  padding: 10px;
}
li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-grid;
}

a {
  color: white;
  text-decoration: underline;
}

ul li a:hover {
  float:center;
  color: #C0C0C0;
}
section {
  padding: 5px;
  margin: 5px;
  /*border: double 4px yellow;*/
}

article {
  /*border: 3px solid yellow;*/
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
}
article h2 {

}

article p {
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 120%;
}
.wrapper {
  margin: 0 auto 0 auto;
  width: 900px;
}
